footer {
    background-color: $background;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    
        h3 {
            margin: 0;
            padding-top: 50px;          
        } 

        .footer_category {
            width: 100px;
        }
}