main {
    background-color: $background_main;

        h1, h2 {
            margin: 0;
            padding: 20px;
        }
}

.product_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


        h3 {
            margin: 0;
        }

        a {
            display: contents;
            width: 25%;
            color: black;
            text-decoration: none;
        }

        .product {
            width: 20%;
            margin-bottom: 10px;
            padding: 30px;
            margin: 20px;
            border-width: 1px 1px 1px 1px;
            border-color: $third_color;
            border-style: solid;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;

            h3 {
                text-align: center;
                padding: 10px 0px 10px 0px;
            }

            img {
                width: 100%;
            }

            span {
                width: 50%;
            }

            .description {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .price {
                width: 100%;
                font-weight: bold;
                padding-top: 20px;
                text-align: right;
            }
        }
}

@media (max-width: 500px) {
    .product_list .product {
        width: 100%;
        margin: 0;
        border: none;
        padding: 0;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .product_list .product {
        width: 50%;
    }
}