h1 {
    width: 100%;
    text-align: center;
}

table {
    width: 100%;

    td {
        text-align: center;
        height: 50px;
    }
}

button {
    width: 100%;
    margin-top: 50px;
}

.customer_information {
    width: 100%;
    padding-bottom: 50px;

    h2 {
        padding-top: 50px;
        text-align: center;        
    }

    input {
        width: 100%;
        height: 30px;
        margin: 10px 0px 10px 0px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px bold black;

        &.commander {
            border: 1px solid black;
            
            &:hover {
                background-color: $second_color;
            }
        }
    }
}
